body {
    font-family: 'Inter', sans-serif;

}

#link .nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

#navbar {
    border-bottom: 1px rgba(128, 128, 128, 0.297) solid;
}

#headerCards img {
    height: 350px;
}

.card {
    border: transparent;
}

.card-img-top {
    border-radius: 5px 5px 0px 0px;
}

.card-title {
    border-radius: 0px 0px 5px 5px;
}

.card-body  h5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.587);
    min-height: 6rem;
}

#evidenziaWrapper h3 {
    font-size: 20px;
    text-align: center;
}

#evidenziaWrapper img {
    border-radius: 5px 5px 0px 0px;
}


